.main-page {
    background: url("../img/100planes.jpg") no-repeat fixed center center;
    background-size: cover;
    margin: 0;
}

#create-flight {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 10%;
    margin: 20px;
}

#div-flights {
    width: 80%;
    margin: auto;
}

#div-members {
    width: 50%;
    margin: auto;
    display: none;
}

#div-flightcrews {
    width: 60%;
    margin: auto;
    display: none;
}

#div-dispatchers {
    width: 30%;
    margin: auto;
    display: none;
}

.tables {
    font-family: Raleway, Roboto, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;
}

.tables th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #333;
    color: #fff;
}

.tables tr:hover {
    background-color: #f0f2f4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8e4328;
}

#dialog-form {
    display: none;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 520px;
    margin: auto;
    box-shadow: 5px 10px 15px #888888;
}

.inline-first {
    float: left;
}

.inline-second {
    float: left;
    margin-left: 20px;
}

.inputs, label {
    display: block;
    width: 250px;
}

.input-second {
    margin-left: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-buttons {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
}

#delete-button {
    background-color: #8e4328;
    margin-left: 97px;
}

#close-button {
    background-color: #f44336;
    float: left;
}

#save-button {
    background-color: #4CAF50;
    float: right;
}

.modal-buttons:hover,
.modal-buttons:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#create-flight-button {
    background-color: rgb(76, 175, 80);
    float: right;
    width: 200px;
    height: 50px;
    font-size: 15px;
}